@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

body {
    background-color: rgb(145, 172, 143);
}

.container {
    position: relative;
    width: 45%;
    min-height: 50vh;
    background-color: rgb(102, 120, 95);
    border-radius: 10% auto;
    border-radius: 7px;
    margin: 0% auto;
    padding: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 30px;
    width: 80%;
    margin: 0 auto;
}

.input-text {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    width: 80%;
}

.add-btn {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    border: 1px solid white;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    margin-left: 15PX;
    background-color: rgb(102, 120, 95);
}

.add-btn:hover {
    cursor: pointer;
    background-color: rgba(242, 242, 242, 0.5);
}

.custom-icon {
    width: 36px;
    margin-left: 10px;
}

.custom-icon:hover {
    cursor: pointer;
}

.item-list-container {
    width: 80%;
    min-height: 20px;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: white;
}

.list-title {
    font-family: "Montserrat", sans-serif;
    color: white;
    margin: 5% auto;
    text-align: center;
}

.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(109, 129, 101);
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}

.custom-icon-sm {
    width: 25px;
    margin-left: 15px;
}

.custom-icon-sm:hover {
    cursor: pointer;
}

.control-buttons {
    width: 37%;
    display: flex;
}

.checkmark {
    width: 25px;
    height: 25px;
    border: 1px solid rgb(160, 159, 159);
    margin-left: 15px;
    background-color: white;
    border-radius: 5px;
}

.checkmark:hover {
    background-color: rgb(221, 223, 239);
    cursor: pointer;
}

.done {
    background-color: green;
}

.strike {
    text-decoration: line-through;
}

.status-label {
    font-size: 15px;
    font-family: Arial;
    padding: 5px;
    vertical-align: middle;
    border-radius: 5px;
    text-transform: uppercase;
    
}

.incomplete {
    background-color: red;
}

.complete {
    background-color: green;
    margin-right: 14.5px;
}

.footer {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    bottom: 0px;
    border-top: 1px solid white;
    color: white;
}

.item-count, 
.statuses-filter, 
.clear-button {
    width: 30%;
}

.statuses-filter {
    justify-content: space-evenly;
}


.item-count:hover, 
.clear-button:hover {
    cursor: pointer;
    font-weight: bold;
}

.statuses-filter:hover > div:hover{
    cursor: pointer;
    font-weight: bold;
}